<div class="artwork">
    <div class="artwork-content">
        <div class="artwork-image-container">
            <img class="artwork-image" src="{{url}}"></div>
        </div>
        <div class="artwork-text-content">
            <div><a class="artwork-title">Titile: {{title}}</a></div>
            <div class="artwork-medium">Medium: {{medium}}</div>
            <div class="artwork-mateiral">Materials: {{materials}}</div>
            <div class="artwork-description">Description: {{description}}</div>
            <div class="artwork-rating">Rating: {{rating}}</div>
        </div>
    </div>
</div>