<div class="artwork">
    <div class="artwork-content">
        <div class="artwork-image-container">
            <img class="artwork-image" src="{{url}}"></div>
        </div>
        <div><a class="artwork-title">{{title}}</a></div>
        <div class="artwork-medium">{{medium}}</div>
        <div class="artwork-mateiral">{{materials}}</div>
        <div class="artwork-description">{{description}}</div>
        <div class="artwork-rating">{{rating}}</div>
    </div>
</div>