<div class="container-fluid page-container">
  	<div class="row justify-content-center page-row">
    	<div class="col-md-8"></br>
			<h1>Events</h1></br>

			<h3>Create New Event</h3>
			<form>
			  	<div class="form-row">
			    	<div class="form-group col-md-5">
			      		<label for="nameInput">Name</label>
			      		<input id="nameInput" class="form-control" type="text" name="name">
			    	</div>
			    	<div class="form-group col-md-2">
			      		<label for="startDateInput">Start</label>
			      		<input id="startDateInput" class="form-control" type="date" name="startDate">
			    	</div>
			    	<div class="form-group col-md-2">
			      		<label for="endDateInput">End</label>
			     		<input id="endDateInput" class="form-control" type="date" name="endDate">
			    	</div>
			    	<div class="form-group col-md-3">
			      		<label for="timeInput">Time</label>
			      		<input id="timeInput" class="form-control" type="time" name="time">
			    	</div>
			  	</div>
			  	<div class="form-row">
				  	<div class="form-group col-md-5">
				    	<label for="locationInput">Address</label>
				    	<input id="locationInput" class="form-control" type="text" name="location">
				  	</div>
				  	<div class="form-group col-md-2">
				    	<label for="cityInput">City</label>
				    	<input id="cityInput" class="form-control" type="text" name="city">
				  	</div>
					<div class="form-group col-md-2">
				    	<label for="stateInput">State</label>
				    	<input id="stateInput" class="form-control" type="text" name="location">
				  	</div>
				  	<div class="form-group col-md-3">
				    	<label for="zipCodeInput">Zip Code</label>
				    	<input id="zipCodeInput" class="form-control" type="text" name="zipCode">
				  	</div>
				</div>
				<div class="form-inLine">
						<button type="button" class="btn btn-primary">Add Event</button>	
				</div>
			</form></br></br>

			<div class="row justify-content-between">
				<div class="col-md-4">
					<h3>View Events</h3>
				</div>
				<div class="col-md-4">
					<form action="/events" method="get">
						<div class="form-inline">
					      	<input id="name_search_string" class="form-control mr-sm-2" type="text" aria-label="Search" name="name_search_string" value="">
					      	<button onclick="searchEventsByName()" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
					    </div>
					</form>
				</div>
			</div></br>
		
			<div class="table-responsive" id="eventsTable">
			  	<table class="table">
					<thead class="thead-light">
				    	<tr>
					      	<th scope="col">Name</th>
					      	<th scope="col">Start</th>
					      	<th scope="col">End</th>
					      	<th scope="col">Time</th>
					      	<th scope="col">Location</th>
					      	<th scope="col">City</th>
					      	<th scope="col">State</th>
					      	<th scope="col">Zip Code</th>
					      	<th scope="col"></th>
				    	</tr>
				  	</thead>
				  	<tbody>
			  		{{#each Events}}
			  		<tr>
				      	<td>{{name}}</td>
				      	<td>{{startDate}}</td>
				      	<td>{{endDate}}</td>
				      	<td>{{time}}</td>
				      	<td>{{location}}</td>
				      	<td>{{city}}</td>
				      	<td>{{state}}</td>
				      	<td>{{zipCode}}</td>
				      	<td><button class="btn btn-primary" onclick="location.href='/events/{{eventID}}'" type="button">Edit</button></td>
			    	</tr>
			    	{{/each}}
			  	</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


