<p>These variables can be accessed on any page.</p> <br/>
<p>To use them in handlebars, assign them to the empty context object of the route as shown in the '/test' route inside index.js</p><br/>
<p>userID: {{sessInfo.userID}}</p>
<p>username: {{sessInfo.username}}</p>
<p>password: {{sessInfo.password}} (probably not safe to keep this saved, but this isn't a real-world project)</p>
<p>email: {{sessInfo.email}}</p>
<p>birthdate: {{sessInfo.birthdate}}</p>